@use '../../../scss/colors';
@use '../../../scss/variables';

.NavBar {
  &_link {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    padding: 10px;
    color: colors.$white;
    background: colors.$black;
    border-radius: variables.$navbar-border-radius;
    text-decoration: none;
    text-transform: uppercase;
    
    &:after {
      position: absolute;
      content: "";
      background: colors.$white;
      width: 106%;
      height: 111%;
      left: -3%;
      top: -5%;
      border-radius: variables.$navbar-border-radius;
      transform: scaleY(0);
      z-index: -1;
      animation: rotate 1.5s linear infinite;
      transition: transform variables.$default-transition-duration ease;
    }

    &:hover:after {
      transform: scaleY(1);
    }

    &___active {
      text-decoration: underline;
    }
  }

  &_wrapper {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: colors.$black;
    clip-path: circle(25px at calc(100% - 45px) 45px);
    transition: all variables.$default-transition-duration ease-in-out;
  }

  &_activeLabel{
    position: absolute;
    z-index: 2;
    right: 20px;
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: colors.$white;
    cursor: pointer;
    background: colors.$black;
    transition: all variables.$default-transition-duration ease-in-out;
  }

  &_activeInput {
    display: none;
  }

  &_activeInput:checked ~ &_wrapper{
    clip-path: circle(75%);
  }

  &_activeInput:checked ~ &_activeLabel{
    color: colors.$white;
  }

  &_activeInput:checked ~ &_activeLabel i:before{
    content: "\f00d";
  }

  @keyframes rotate {
    0%{
      filter: hue-rotate(0deg);
    }
    100%{
      filter: hue-rotate(360deg);
    }
  }
}