@use '../../../scss/variables';
@use '../../../scss/fonts';

.skills {
  padding-top: 15vh;
  max-width: variables.$container-width;
  margin: auto;

  &__group {
    padding: variables.$gap-md 0;
  }

  &__group-title {
    margin-bottom: variables.$gap-md;
    font-size: fonts.$font-xxl;
  }
}
