.contact {
  padding-top: 15vh;

  &__info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    flex-direction: column;
  }

  &__link {
    color: white;

    i {
      margin-right: 0.5rem;
    }
  }
}
