@use '../scss/colors';

.app {
  text-align: center;
  color: colors.$white;
  background-color: colors.$main-background;
  min-height: 100vh;
  overflow: hidden;

  * {
    box-sizing: border-box;
  }
}
