@use '../../../scss/colors';
@use '../../../scss/variables';
@use '../../../scss/fonts';

.Home {

  &_title {
    margin-top: 15vh;
    font-size: fonts.$font-xxxl;
    font-weight: fonts.$font-weight-bold;
  }

  &_paragraph {
    margin-top: variables.$gap-lg;
  }

  &_homegif {
    margin-top: variables.$gap-xxl;
  }

  &_homegif_image {
    max-width: 100%;
  }

  &_modalContent {
    text-align: center;
  }
}
