// ## font variables

$font-xs: 0.75em;
$font-sm: 0.875em;
$font-md: 1em;
$font-lg: 1.125em;
$font-xl: 1.25em;
$font-xxl: 1.5em;
$font-xxxl: 2em;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;