// ## Miscellaneous list

$default-border-radius: 6px;
$default-transition-duration: .3s;
$navbar-border-radius: 30px;
$fixed-buttons-position: 20px;

$gap-xs: 0.625em;   // 10px
$gap-sm: 0.875em;   // 14px
$gap-md: 1.25em;    // 20px
$gap-lg: 1.875em;   // 30px
$gap-xl: 2.5em;     // 40px
$gap-xxl: 3.75em;     // 60px
